/*General layout based on (https://codepen.io/lizcoultersmith/pen/KKKEpNy)*/
/*Got help with the thickness and elevation of items https://material.io/design/environment/elevation.html#elevation-in-material-design*/
/*Help with material design (https://material.io/design/color/color-usage.html#brand) and (https://www.mockplus.com/blog/post/material-design-website-examples) and (https://medium.muz.li/youtube-material-design-redesign-e684cc2d221b)*/
/*Also based on my Assignment 0 (http://127.0.0.1:5500/landing.html) and (http://127.0.0.1:5500/portfolio.html)*/

*{
    text-align: center; /*Centering help (https://www.w3.org/Style/Examples/007/center.en.html)*/
    align-content: center;
}
body{
    z-index: 1;/*Z-index help (https://developer.mozilla.org/en-US/docs/Web/CSS/z-index)*/
    /*Got help with the thickness and elevation of items https://material.io/design/environment/elevation.html#elevation-in-material-design*/
    
}

h1 h2{
    color: #212121; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
}
h1{ /*fonts from (https://fonts.google.com/?selection.family=Open+Sans|PT+Sans|Poppins&query=p) site from liz coulter-smith (https://docs.google.com/presentation/d/1Xr-TuZ2ZqI4ODHljjOD3c3vrxzTGfCZfbAiuL1qKOFQ/edit#slide=id.g640c662512_0_73)*/
    font-family: 'Open Sans', sans-serif;
} /*Help deciding on font from (http://typ.io/fonts/poppins) fonts from (https://fonts.google.com/?selection.family=Open+Sans|PT+Sans|Poppins&query=p) site from liz coulter-smith (https://docs.google.com/presentation/d/1Xr-TuZ2ZqI4ODHljjOD3c3vrxzTGfCZfbAiuL1qKOFQ/edit#slide=id.g640c662512_0_73)*/
h2{ 
    font-family: 'PT Sans', sans-serif;
}
p{
    font-family: 'Poppins', sans-serif;
    font-size: 13px; /*Help with font size (https://developer.mozilla.org/en-US/docs/Web/CSS/font-size)*/
}
.gridstyle { /*This is help with css grid (https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Basic_Concepts_of_Grid_Layout) and (https://mozilladevelopers.github.io/playground/css-grid/02-first-grid/) and (https://codepen.io/lizcoultersmith/pen/ZEEPGbr?editors=1100) and (https://gridbyexample.com/learn/)*/
    display: grid; /*Help understanding display (https://developer.mozilla.org/en-US/docs/Web/CSS/display)*/
    grid-gap: 1rem; /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
    grid-auto-columns: auto auto auto ; /*help with grid-auto-columns (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-auto-columns)*/
    grid-template-rows: auto auto auto auto auto auto auto auto auto auto; /*Help with auto in grids (https://stackoverflow.com/questions/41916722/how-do-i-specify-row-heights-in-css-grid-layout)*/
}
 .header{/*Learnt from (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/header)*/
    background-color: #009688; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    height: 230px;
    margin: 0;
    padding-top: 20px;
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    z-index: 5; /*Z-index help (https://developer.mozilla.org/en-US/docs/Web/CSS/z-index)*/
    box-shadow: 0px 1px 10px black;/*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    position: -webkit-sticky; /*Help with position (https://developer.mozilla.org/en-US/docs/Web/CSS/position)*/
    position: sticky; top: -25px;
    border-radius: 10px; /*Learnt from liz coulter-smith (https://codepen.io/lizcoultersmith/pen/KKKEpNy)*/
    font-family: 'Poppins', sans-serif;  /*fonts from (https://fonts.google.com/?selection.family=Open+Sans|PT+Sans|Poppins&query=p) site from liz coulter-smith (https://docs.google.com/presentation/d/1Xr-TuZ2ZqI4ODHljjOD3c3vrxzTGfCZfbAiuL1qKOFQ/edit#slide=id.g640c662512_0_73)*/
    
}
.fas fa-bars {
    text-align: center;
}
.popout{
    grid-column: 1 / 4;
    z-index: 5; 
    position: -webkit-sticky; /*Help with position (https://developer.mozilla.org/en-US/docs/Web/CSS/position)*/
    position: sticky; top: -25px;
    display: none;
    
}
ul{/*Nav bar based on Liz Coulter-Smith from (https://codepen.io/lizcoultersmith/pen/mddoJPJ) and (https://docs.google.com/presentation/d/1VuZDYziJ6aiufrsBig6_KorJ-YRoFfu4S7ZLd0o3wCA/edit#slide=id.g707a7b8ff0_0_4)*/
    margin: 10px auto 10px auto; /*Learnt margin values from (https://developer.mozilla.org/en-US/docs/Web/CSS/margin)*/
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
li{
    text-decoration: none;
    list-style-type: none;
    padding: 10px; /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
    margin: auto;
}
a{
    text-decoration: none;
    color: #FFFFFF; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
}
.navhov:hover{/*Based on Liz Coulter-smith from (https://docs.google.com/presentation/d/1Yf4kfHwaz07Vnioszt6HVfdYPBxkmlriHVidD7TPNuA/edit#slide=id.g633c4d84cf_0_89) and (https://developer.mozilla.org/en-US/docs/Web/CSS/:hover)*/
    background-color: #00796B;
    border-radius: 10px; /*Hepl with borders (https://developer.mozilla.org/en-US/docs/Web/CSS/border)*/
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.ham i{
    color: #FFFFFF;
    height: auto;
    width: 50px;

}
.lpc-1{/*Learnt classes from Liz Coulter-smith (https://docs.google.com/presentation/d/1Yf4kfHwaz07Vnioszt6HVfdYPBxkmlriHVidD7TPNuA/edit#slide=id.g62edc68dcc_1_295) grid based on (https://codepen.io/lizcoultersmith/pen/ZEEPGbr)*/
    grid-column: 2 / 3; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    grid-row: 4/5;
    margin: auto; /*Learnt margin values from (https://developer.mozilla.org/en-US/docs/Web/CSS/margin)*/
    
    
}

.lpc-2{
    grid-column: 2 / 3;
    grid-row: 5/6;
    margin: auto;
    border-radius: 50px;  /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
    margin-top: 15px;
}
.lpc-3{
    grid-column: 2 / 3;
    grid-row: 6/7;
    margin: auto;
    
    margin-top: 0px; /*Learnt margin values from (https://developer.mozilla.org/en-US/docs/Web/CSS/margin)*/
    margin-bottom: 0px;
    
}
.footer{/*learnt from (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/footer)*/
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    grid-row: 10 / 11; /*Help with grid-row (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row)*/
    background-color: #00796B; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    border-radius: 10px;
    z-index: 4;/*Z-index help (https://developer.mozilla.org/en-US/docs/Web/CSS/z-index)*/
    position: -webkit-sticky;/*Help with position (https://developer.mozilla.org/en-US/docs/Web/CSS/position)*/
    position: sticky; bottom: -55px;
    box-shadow: 0px 1px 10px black;
    height: auto;
    color: #FFFFFF; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    font-size: 4em; /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
}
li img{
    border-radius: 50px;
    width: 50px;
}
.footimg:hover{
     /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    border-radius: 10px; /*help with border radius (https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius)*/
    transition: 0.4s;
}

.portplace{
    grid-column: 2 / 3; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    grid-row: 4 / 5; /*Help with grid-row (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row)*/

}
.portplace2{
    grid-row: 5 / 6;
    grid-column: 2 / 3 ;
}
.portgrid{
    grid-row: 5/6;
    display: grid; /*Help understanding display (https://developer.mozilla.org/en-US/docs/Web/CSS/display)*/
    grid-auto-columns: 1fr 1fr ; /*Help using fr (https://developer.mozilla.org/en-US/docs/Glossary/Grid)*/
    grid-template-rows: 1fr 1fr;
    grid-gap: 1rem; /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
    
}
.port:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.port{
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
    
}
.two{
    display: none;
}
a img{
    margin: 5px;
}
@media (min-width: 600px) /*Media query help (https://developer.mozilla.org/en-US/docs/Web/CSS/@media) and (https://stackoverflow.com/questions/27853884/media-queries-and-image-swapping/27853917)*/
{
    .one{
        display: none;
        transition: 0.2s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
    }
    .two{
        display: inline-block;
        transition: 0.2s;
    }
}
.cvskill{
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    grid-row: 4 / 5; /*Help with grid-row (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row)*/
    border-radius: 10px; /*help with border radius (https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius)*/
    box-shadow: 0px 1px 10px black;
    margin: 10px;
}
.cvskill:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.cvam{
    grid-column: 1 / 2;
    border-radius: 10px; /*help with border radius (https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius)*/
    box-shadow: 0px 1px 10px black;
    margin-right: 5px;
}
.cvam:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.cvwe{
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    grid-row: 5 / 6; /*Help with grid-row (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row)*/
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
}
.cvwe:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.cvref{
    grid-column: 2 / 3;
    border-radius: 10px; /*help with border radius (https://developer.mozilla.org/en-US/docs/Web/CSS/border-radius)*/
    box-shadow: 0px 1px 10px black;
    margin-left: 5px;
}
.cvref:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616); /*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    transition: 0.4s;
}
.cved{
    grid-column: 1 / 4;
    grid-row: 7 / 8;
    margin: 10px;
    border-radius: 10px; /*understanding units in css (https://www.w3.org/Style/Examples/007/units.en.html)*/
    box-shadow: 0px 1px 10px black;
}
.cved:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s;
}
.cvcon{
    grid-row: 8 / 9; /*Help with grid-row (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-row)*/
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    border-radius: 10px;
    box-shadow: 0px 1px 10px black;
    margin: 10px;
}
.cvcon:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616); /*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}
.adjust{
    grid-row: 6 / 7;
    display: grid; /*Help understanding display (https://developer.mozilla.org/en-US/docs/Web/CSS/display)*/
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-column: 1 / 4;
    margin: 10px;
}
form {
    grid-column: 2 / 3;
    grid-row: 3/4;
}
.formgrid{
    display: grid; /*Help understanding display (https://developer.mozilla.org/en-US/docs/Web/CSS/display)*/
    grid-gap: 1rem; 
    
}
.formcards{
    box-shadow: 0px 1px 10px black; /*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    border-radius: 10px;
    margin-top: 70px;
    
}
.formcards:hover{
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.616);
    transition: 0.4s;
    
}
.inputtitle{
    box-shadow: 0px 1px 10px black; /*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    border-radius: 10px;
    margin-top: 70px;
}
input{
    box-shadow: 0px 1px 10px black; /*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    border-radius: 10px;
    background-color: #4CAF50; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    border: #4CAF50;
    grid-row: 7/8;
    grid-column: 2/3;
}
.input:hover{
    background-color: #B2DFDB; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    transition: 0.4s; /*Help understanding transition (https://developer.mozilla.org/en-US/docs/Web/CSS/transition)*/
}

#text
{
    display: none;
    z-index:3;
    margin: 0px;
    
}

#nowshows {
    display: none;
}

.disbut{
    color: white;
}

.but{
    display: grid;
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    background-color: #009688;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    z-index: 1;
    box-shadow: 0px 1px 2px black;
    margin: 0;
    margin-left: 58px;
    padding: 0;
    width: 70px;
    height: 23px;
}
.but:hover{
    background-color: #00796B;
}
.changeb{
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    margin-left: 20px;
}
.l{
    
    background-color: #FFFFFF;    
    color: #212121;
    
}
.d{
    background-color: #00796b;
    color: #FFFFFF;
}
 
.tag{
    display: none;
    background-color: #009688;
    border: solid;
    border-color: #FFFFFF;
    border-width: 0.2px;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 8px;
    margin: auto;
    padding: 5px;
    grid-row: 9/10;
    grid-column: 2/3;
    width: fit-content;
    opacity: 1.9;
}

footer p1{
    background-color: none;
}

#hide {
    display: none;
}
#show{
    display: block;
}


#toggle{
    background-color: #009688; /*Colours decided from(https://www.materialpalette.com/teal/green)*/
    height: 50px;
    margin: 0;
    padding-top: 20px;
    position: -webkit-sticky; /*Help with position (https://developer.mozilla.org/en-US/docs/Web/CSS/position)*/
    position: sticky; top: -25px;
    grid-column: 1 / 4; /*Help with grid-column (https://developer.mozilla.org/en-US/docs/Web/CSS/grid-column)*/
    z-index: 2; /*Z-index help (https://developer.mozilla.org/en-US/docs/Web/CSS/z-index)*/
    box-shadow: 0px 1px 10px black;/*Learnt from (https://codepen.io/lizcoultersmith/pen/ZEEPGbr) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow#offset-x) and (https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow)*/
    z-index: 5; 
    border-radius: 10px; /*Learnt from liz coulter-smith (https://codepen.io/lizcoultersmith/pen/KKKEpNy)*/
    font-family: 'Poppins', sans-serif; 
}

.space{
    padding: 20px;
    grid-row: 9/10;
    grid-column: 2/3;
}

